

.heading{
    background-color: grey;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    line-height: 42px;
     margin-top: 25px;
    }
    
    .Enquiry{
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
         margin-top: 25px;
    }

     




          
  
    
    
    
    .call-us{
    font-size: 15px;
       }
    .Under-callUs {
        font-size: 13px;
        margin-top: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: grey;
        
    }
    
    .gap {
        font-size: 15px; 
        margin-top: 35px;
      
    }
    .Address-Head{
       
        font-size: 13px;
        margin-top: 2px;  
    }
    
    .Address-body{
        font-size: 13px;
        margin-top: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: grey;  
        
    }
    
    .Mail{
    color: blue;
    
    }
    
