
.contact-container{

    display: flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 50px;
    
}

  .h-container{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 500px 0px 80px;
     

  }



    h1{
        background-color: grey;
        letter-spacing: 1px;
        font-size: 20px;
        margin-top: 20px;
        color: white;
        line-height: 42px;
         margin-top: 25px;
         padding: 0px 0px 0px 50px ;
    }
    
    
      .Address-head {
        font-size: 15px;
        line-height: 1.6;
         color:  #777; 
         font-weight: bold;
         
         
       }

       .Address-body{
       
       font-family: 'Open Sans', Arial, Helvetica, sans-serif;
       color: #777;
       font-size: 0.875em;
       line-height: 1.6;
       letter-spacing: 2.5px;
       padding: 0px 350px 0px 0px ;
       
       
      .Mail{
      color: blue;
    
    }
    
}