
h1{
 background-color: grey;
 letter-spacing: 1px;
 font-size: 25px;
 margin-top: 20px;
 color: white;
 line-height: 42px;
 margin-top: 25px;
 padding: 5px 0px 5px 50px ;
 }

  .Address-body { 
    display: flex; 
    color: rgb(46, 44, 44);
    line-height: 1.6;
    letter-spacing: 1px;
    padding: 10px 10px 10px 10px;
    
     }
    
     .Mail {
        color: blue;  
 }

 .Heading{
    background-color: rgb(183, 106, 106);
    width: 40%;
    letter-spacing: 1px;
    font-size: 25px;
    color: white;
    line-height: 30px;
    padding: 10px 10px 8px 12px ;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 25px;
    margin-top: 25px;
   
   }
      
   @media screen and (max-width: 800px) {

      h1{
        background-color: grey;
         letter-spacing: 1px;
         font-size: 20px;
         margin-top: 20px;
         color: white;
         line-height: 30px;
         margin-top: 25px;
         padding: 10px 0px 5px 10px ;
      }
   
      .Address-body { 
   font-size: 11px;
      }
      .Heading{
         width: 100%;
         font-size: 20px;
         color: white;
         line-height: 20px;
      }
      
   }